.movie-list {
    margin: 20px 0px;
    height: 100%;
}

h1 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #fff;
}
.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}

.movie-error {
    color: darkred;
    text-align: center;
    font-size: 2rem;
    margin: 5px;
}

.loading {
    font-size: 2rem;
}
