.header {
    background-color: #1a242f;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.user-image {
    width: 38px;
    height: 38px;
    margin: 0 10px;
}

.form {
    display: flex;
    margin-left: auto;
    height: 50%;
}

.btn {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1a242f;
    text-align: center;
    transition: all 0.2s;
    border-left: none;
}

.btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.input-field {
    border: none;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
}
